<!-- <p>header works!</p> -->
<p>
  <mat-toolbar color="primary">

    <!-- button 1 -->
    <!-- event kodkka for when it click just share data to app component and hide or show side bar -->
    <button (click)="menubuttonClicked()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>

    <span>Admin</span>
    <span class="example-spacer"></span>



    <div class="flex-container">

      <ul>
        <!-- to give icon name
        angular material->component->icon->scroll to below-> Font icons with ligatures->Material icons font.->What are material icons?->Material Icons Library. -->

        <!-- button2 -->
        <li>
          <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>settings</mat-icon>
          </button>
        </li>

        <!-- button3 -->
        <li>
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>help</mat-icon>
          </button>
        </li>

        <!-- button4 -->
        <li>
          <button [matMenuTriggerFor]="menu" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>person</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item><mat-icon>logout</mat-icon>Logout</button>
            
          </mat-menu>
        </li>

      </ul>

    </div>


  </mat-toolbar>
</p>
<!-- 'mat-icon' is not a known element: -->
<!-- FIRST we paste this angular material we get this error because we used here some icons like share,like etc but we doesnt use or import their api that is the prblm -->
<!-- so import their api by using angular material icon -->