<!-- <h1>admin dashboard</h1>
<button mat-raised-button color="primary">Primary</button>
    any changes in  its because of select indigo when its insttall time 
<button mat-raised-button color="accent">Accent</button> -->

<!-- namukk header na view cheyyippikanel athinte selector na ivd kondu veranam so 
app-header is a selector of header and it give as a tag-->
<app-header (onMenuBtnClick)="toggle()"></app-header>


<!-- sidenav -->
<mat-drawer-container class="example-container">
    <mat-drawer mode="side" [opened]="sidebarOpend">
        <!--[opened]="false" its called property binding  -->
        <!-- true aahnel aanu view(sidebar) aavaah nammal ippo athina false aaki just hide it  -->
        <!-- sidebar -->

        <!-- user request anusarichu path set cheytha pole maaranenkil call router-outlet -->
        <app-sidebar></app-sidebar>


    </mat-drawer>
    <mat-drawer-content>
        <!-- dashboard -->
        <!-- dazhboard le content aahnu user request nu anusarichu maarunnathu thats why router-outlet konduvekkal in this area of dashboard -->
        <!-- <app-dashboard></app-dashboard> it chang to router outlet because of path settings nu anusrichu page redirect aagan vendi  <router-outlet></router-outlet>aaakkum user request nu anusarichu maarandeet -->
        <router-outlet></router-outlet>


    </mat-drawer-content>
</mat-drawer-container>



<mat-divider></mat-divider>


<!-- footer -->
<app-footer></app-footer>


<!-- app component is a parent component -other 4 are child here is parent child relation  -->
<!-- in parent child relation there is no need of using dependancy injection for data sharing -->
<!-- parent nte view(html page) lu child nte selector-->
<!-- so parent load aavumbo childum load avum -->
<!-- parent um child data share
    child nnu parent lekk data share
        output decreated -->