<!-- <p>sidebar works!</p> -->
<div>
    <div class="profile">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR4oz0KdCvHj_hvY5exy-qFr06SPFjyA4ZoPg&usqp=CAU"
            alt="no image">
        <h3>Admin</h3>
        <h4>admin1234@gmail.com</h4>
    </div>
    <mat-divider></mat-divider>

    <h2>Pages</h2>
    <div class="pages">
        <!-- in angular doesnt use href href use in js in angular we use router-link -->
        <a routerLink="" >Dashboard</a>
        <a routerLink="employee" >Employees</a>
        <a routerLink="gallery" >Gallery</a>


    </div>
    <mat-divider></mat-divider>
    <h2>Tools</h2>
    <div class="pages">
        <a routerLink="contacts"> <mat-icon>contacts</mat-icon> Contact</a>
        <a routerLink="leads"> <mat-icon>leaderboard</mat-icon> Contact</a>
    </div>
    <mat-divider></mat-divider>



</div>